.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

body {
    display:flex;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.car-type1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    justify-content: space-around;
    padding-left: 5%;
    padding-top: 5%;
    height: 50vh;
}

.car-type2 {
    background-color: hsl(184, 100%, 22%);
    border-radius: 0px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    justify-content: space-around;
    padding-left: 5%;
    padding-top: 5%;
    height: 50vh;
}

.car-type3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    justify-content: space-around;
    padding-left: 5%;
    padding-top: 5%;
    height: 50vh;
}

.panel{
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    height: 50vh;
    
    /* padding: 100px 0; */
    
}

.learn-button1 {
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    border-radius: 50px;
    display: inline;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
    color: hsl(31, 77%, 52%);
    background-color:  hsl(0, 0%, 95%);
    align-self: flex-start;
    margin-top: 4rem;
    
}

.learn-button2 {
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    border-radius: 50px;
    display: inline;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
    color: hsl(184, 100%, 22%);
    background-color:  hsl(0, 0%, 95%);
    align-self: flex-start;
    margin-top: 4rem;
}

.learn-button3 {
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    border-radius: 50px;
    display: inline;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
    color: hsl(179, 100%, 13%);
    background-color:  hsl(0, 0%, 95%);
    align-self: flex-start;
    margin-top: 4rem;
}

.icon{
    align-self: left;
    max-width: 50px;
}

.car-header {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 2rem;
}

p {
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    width: 80%;
    font-size: 15px;
}